*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images\ \(4\).jpg") no-repeat;
    background-size: cover;
}

.clock{
    width: 100%;
    max-width: 380px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    padding: 20px;
}

.clock h1{
    font-size: 3rem;
    font-weight: bold;
}

.clock span{
    position: relative;
    top: -13px;
    left: 4px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 450px){
    .clock{
        max-width: 300px;
        padding: 5px;
    }

}
